
body {
    color: #642211;
    font-size: 36pt;
}

#top-bar {
    height: 150px;
    background-color: #642211;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

#view-content {
    height: calc(100% - 300px);
    background-color: #ffffff;
    overflow-y: auto;
}

#bottom-bar {
    height: 150px;
    background-color: #642211;
}

.bottom-tab {
    padding-top: 20px;
    background-color: #888888;
}
.bottom-tab.active {
    background-color: #999999;
}

.airport-info-container {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.5,  rgba(0,0,0,1)),
    color-stop(1.0,  rgba(0,0,0,0)));
}

.airport-photo {
    width: 100%;
    -webkit-mask-image: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.8,  rgba(0,0,0,1)),
    color-stop(1.0,  rgba(0,0,0,0)));
}

.airport-name {
    text-shadow: 0px 0px 10px white;
}

.menu-card-container {
    text-align: center;
    margin-top: 50px;
}
.menu-card {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#items-container {
    overflow-y: auto;
}

.list-item-card {
    height: 200px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-item-photo-container {
    padding: 20px;
    text-align: center;
}

.list-item-photo {
    max-height: 160px;
    max-width: 160px;
}

.list-item-right {
    position: absolute;
    top: 50%;
    height: 60px;
    margin-top: -30px;
}

#dashboard-container {
    overflow-y: auto;
    height: 100%;
}

.dashboard-item-container {
    height: 200px;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
